<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glls.account.mapper.AccountMapper" >

    <update id="updateAccount">
        update t_account set money = money-1100 where userId = #{userId}
    </update>
</mapper>